{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Compress Me</title>

	<!-- Google web fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

	<!-- The main CSS file -->
	<link href="{%static 'assets/css/style.css' %}" rel="stylesheet" />
</head>

<body>
	<div id="heading">
		<img src="{%static 'assets/img/compress.gif' %}" height="120">
		<h1>CompressMe</h1>
		<h2>All compressed images get deleted after every 12am and 12pm</h2>
		<h4>Current server time: <span id="time">{{time}}</span></h4>
	</div>
	<form id="upload" method="post" enctype="multipart/form-data">
		<div id="drop" class="fade well" ondragover="this.style.backgroundColor='#007a96';"
			ondragleave="this.style.backgroundColor='#2E3134';">
			Drop Here

			<a>Browse</a>
			<input type="file" name="file" multiple accept="image/*" />

		</div>
		<div style="color: white; padding: 10px"><label for="quality">Quality: </label><input type="number" min="10"
				max="90" value="20" id="quality" /></div>
		<div id="message" style="color: red; padding: 10px; display: block;"></div>
		<ul>

			<!-- The file uploads will be shown here -->
		</ul>

	</form>

	<!-- JavaScript Includes -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{%static 'assets/js/jquery.knob.js' %}"></script>

	<!-- jQuery File Upload Dependencies -->
	<script src="{%static 'assets/js/jquery.ui.widget.js' %}"></script>
	<script src="{%static 'assets/js/jquery.iframe-transport.js' %}"></script>
	<script src="{%static 'assets/js/jquery.fileupload.js' %}"></script>
	<!-- <script src="{%static 'assets/js/jquery.fileupload-validate.js' %}"></script>
	<script src="{%static 'assets/js/jquery.fileupload-process.js' %}"></script>
	<script src="{%static 'assets/js/jquery.fileupload-ui.js' %}"></script> -->

	<!-- Our main JS file -->
	<script src="{%static 'assets/js/script.js' %}"></script>
</body>

</html>